body {
  position: relative;
  background-color: #000;
  color:            #fff;
}
#canvas {
  width:  220px;
  height: 160px;
  border: none;
  padding:          0.5em;
  background-color: #000;
}
#info {
  position: relative;
}
#info .Date {
  position: absolute;
  top:      0;
  left:     0;
}
#info .Time {
  position: absolute;
  top:      0;
  left:     10em;
}
#info .Geolocation {
  position: absolute;
  top:      8em;
}
.Geolocation .address {
}
.Geolocation .type {
  padding:  0 1em;
}
